scikit-learn==1.3.0
# APIFlask==2.1.0
# apispec==6.5.0
# appdirs==1.4.4
# APScheduler==3.10.4
# atomicwrites==1.4.0
# backports.weakref==1.0.post1
# baostock==0.8.8
# black==24.2.0
# blinker==1.7.0
# brotlipy==0.7.0
# bs4==0.0.1
# click==8.1.7
# clyent==1.2.2
# conda-repo-cli==1.0.75
# conda-verify==3.4.2
# constantly==15.1.0
# cssselect==1.1.0
# datashape==0.5.4
# dnspython==2.6.1
# docopt==0.6.2
# email_validator==2.1.1
# et-xmlfile==1.1.0
# fake-useragent==1.5.1
Flask==3.0.2
# Flask-APScheduler==1.13.1
# Flask-HTTPAuth==4.8.0
# flask-marshmallow==1.2.0
flask-mongoengine==1.0.0
Flask-SQLAlchemy==3.1.1
# Flask-WTF==1.2.1
# fonttools==4.25.0
# grpcio==1.62.1
# inflection==0.5.1
# ipython==8.12.3
# itsdangerous==2.1.2
# jsonpointer==2.1
# jupyterthemes==0.20.0
# lesscpy==0.15.1
# marshmallow==3.21.1
# matplotlib==3.6.1
# mistune==3.0.2
# mongoengine==0.28.2
# mplfinance==0.12.10b0
# munkres==1.1.4
# nbconvert==7.16.3
# numpy==1.23.4
# openpyxl==3.0.10
# pandas==2.0.1
# patsy==0.5.3
# pep8==1.7.1
# pipreqs==0.5.0
# ply==3.11
# prettytable==3.10.0
# protobuf==5.26.0
# py-mini-racer==0.6.0
# pyarrow==11.0.0
# pyasn1-modules==0.2.8
# pycryptodome==3.20.0
# pydash==7.0.7
# PyDispatcher==2.0.5
# pyecharts==1.7.0
# PyExecJS==1.5.1
# pyls-spyder==0.4.0
pymongo==4.6.3
# PyMySQL==1.1.0
# PyQt5==5.15.10
# PyQt5-Qt5==5.15.12
# PyQt5-sip==12.13.0
# PyQtWebEngine==5.15.6
# PyQtWebEngine-Qt5==5.15.12
# pytdx==1.72
# python-lsp-jsonrpc==1.0.0
# pywencai==0.12.2
# queuelib==1.5.0
# simplejson==3.19.2
# SQLAlchemy==2.0.28
# TA-Lib==0.4.28
# thriftpy2==0.4.20
# tushare==1.4.5
# tzlocal==5.2
# watchdog==4.0.0
# webargs==8.4.0
# webencodings==0.5.1
# websocket-client==0.57.0
# Werkzeug==3.0.1
# WTForms==3.1.2
# wxPython==4.2.1
# yarg==0.1.9
